/*
CSS is written in rules, with a rule comprising of a selector and a declaration block
The declaration block consists of declarations made up of property:value pairs
*/

/*Reset to remove margin / padding and to include box margin and padding in box width and/or height settings*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
The clearfix class is a special class used to clear up after using floats - note it 
is in the HTML before the author box to prvent it floating right
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Helvetica, Arial;
}

h1, h2 {
  color: rgb(45, 151, 24);
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

.container {
  width: 1140px;
  /* top, right, bottom, left */
  margin: 20px, auto, 0, auto;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.author-text {
  font-size: 22px;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px;
}

.other-posts {
  width: 25%;
  float: right;
}

.author-box {
  border-top: 1px solid rgb(141, 137, 137);
  padding-top: 20px;
}