/* Box model reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Default page colors */
  background-color: #fff;
  color: #555;
  /* Default font settings */
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/**********************************************************************************************************************************/
/* OVERALL STYLES */
/**********************************************************************************************************************************/

/* The row class sets a maximum width and auto margin on the left/right to centre the div*/
.row {
  max-width: 1140px;
  /* margin shortcut: top/bottom, left/right */
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* HEADING FORMATTING*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  /* Normalize.css adds some margins that we may need to remove after reset (top of the page title)*/
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff; 
   /* Font size relative to default 20px font-size from html selector */
   font-size: 200%;
   word-spacing: 4px;
   letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;  
}

/* PARAGRAPH FORMATTING*/
.long-copy {
  line-height: 145%;
  /* Note 15 + 70 + 15 would be 100, so width 70% and margin-left of 15% 'centres' the text */
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ICON FORMATTING */
.icon-big {
  font-size: 320%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

/**********************************************************************************************************************************/
/* BUTTON STYLES */
/**********************************************************************************************************************************/
.btn:link,
.btn:visited {
  /* The inline-block property allows you to add margin and padding to a normally inline element, such as an <a> */
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  /* Transition between pseudostates */
  transition: background-color 0.2s, border 0.2s, color 0.4s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #fff;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

/* 0to255 website used to find darker shade of given color */
.btn-full:hover, 
.btn-full:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  color: #fff;
}

.btn-ghost:hover, 
.btn-ghost:active {
  background-color: #cf6d17;
  border: 1px solid #fff;
  color: #fff;
}

/**********************************************************************************************************************************/
/* SECTION 1 - HEADER STYLES */
/**********************************************************************************************************************************/
header {
  /* Set header to 100% viewport height*/
  height: 100vh;
  /* Centre hero image and make it responsive - linear-gradient causes the contrast effect on top of the hero image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
}

/* Centre the hero text using a transform 'hack' */
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*Float logo to top left*/
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/* Format navigation links */
.main-nav {
  float: right;
  margin-top: 40px;
  /* Remove bullet points */
  list-style: none;
}

.main-nav li {
  /* <li> are by default block elements, so set them to inline-block to line them up and allow margin */
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  /* To get a nice transition under active links, we need an 'invisible' border to first exist to transition from */
  border-bottom: 2px solid transparent;  
  transition: border-bottom 0.3s;
  /* Padding to push the bottom border down */
  padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/**********************************************************************************************************************************/
/* SECTION 2 - FEATURE SECTION */
/**********************************************************************************************************************************/
.section-features {
  padding: 60px 0 40px;
}

/* Adding content with CSS - orange bar after h2*/
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  /* Note you need some 'content' for the element to show, even if the content is just a space */
  content: " ";
}

.section-features .long-copy {
  margin-bottom: 30px;
}

/**********************************************************************************************************************************/
/* SECTION 3 - FAVOURITE MEALS SECTION */
/**********************************************************************************************************************************/
.section-meals {
  padding: 0;
  width: 95%;
  margin: 0 auto;
}

.meals-showcase {
  /* list-style: none; */
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0; /*Due to normalize.css*/
  /* Prevent zoomed image (below) from overflowing its container */
  overflow: hidden;
  background-color: #000; /*The background colour being black causes a shadow effect on the image when combined with opacity below*/
}

.meal-photo img {
  opacity: 0.7; /*In the non hovered state, the image has opacity of 0.7 and you fcan see some of the black backgroun, giving a shadow*/
  width: 100%; 
  height: auto;
  /* Slight zoom before transform effect below */
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1; /*In the hovered state, you have an opacity of 1 so you cannot see any of the black background, and the image is brighter*/
  transform: scale(1.03); /*Note scaling to 1.03 removes some whitespace between images*/
}