/* Box model reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  /* Default font settings */
  font-family: 'Lato', 'Arial' sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* Max page width - only absolute value */
.row {
  max-width: 1140px;
  /* margin: top/bottom, left/rigth */
  margin: 0 auto;
}